<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-7 py-21">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <p
          class="text-black mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight">
          Welcome to GetSubtitles <br>
          Experience content transformation with our AI-powered subtitles – pure excellence, zero hassle!
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Discover simplicity in three steps: Share your content, let our AI capture every detail, and receive subtitles ready to captivate your audience!
        </p>
      </div>
      
      <dl
        class="lg:gap-x-8 lg:grid-cols-2 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-gray-500">
          <strong class="text-gray-700"
            >AI Magic</strong
          > ━ Our AI algorithms transcend intelligence to genius. Harness the cutting-edge technology for highly accurate subtitles in the universally compatible SRT/VTT format.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Time and Cost Efficiency</strong> ━ Bid farewell to cumbersome processes and exorbitant costs. GetSubtitles propels you into a new era, delivering results at lightning speed, saving you both time and money.
        </div>
      </dl>
    </div>
</section>
