<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Unique Features
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Are you tired of waiting days for human-translated subtitles or transcripts? Do you find the costs prohibitive? Get ready for a revolution in transcription services - introducing GetSubtitles.online!
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3">
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Multi-Language Support.
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                GetSubtitles doesn’t believe in language barriers. We support a multitude of languages, making your content accessible globally.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  High Accuracy.
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Our AI prides itself on precision. Your content isn't just transcribed; it's understood and conveyed with impeccable accuracy.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"
                  />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Quick Turnaround
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Time is of the essence, and we recognize that. GetSubtitles.online ensures your subtitles are at your fingertips in record time.
              </div>
            </div><div>
              
            </div><div>
            </div><div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>